body {
background-color: bisque;
background-image: url(https://cdn.pixabay.com/photo/2015/08/09/13/30/alcedo-atthis-881594_960_720.jpg)
;
background-repeat: no-repeat;
background-size: cover;
}


body {
    background-color: azure;
    text-align: center;

}
h1{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;

}
.submit{
    color: blueviolet;
    text-decoration-color: darkgreen;
}
.jumbotron{
    color:darkgreen;
    height: 700px;
    width: 600px;
    border: darkblue;
    float:left;
   
}


